.search {
    padding: .5rem 1rem;
    position: relative;

    input {
        padding-left: 35px;
        border-radius: 32px;
        background: transparent;
        height: 35px;
        border: 1px solid #5a5e63;
        color: #fafafa;
        &:focus {
            color: #fafafa;
            background-color: transparent;
            border-color: #5a5e63;
            outline: 0;
            box-shadow: none;
        }
    }
    .input-group-prepend{
        position: absolute;
        top: 10px;
        left: 10px;
    }
}