.feedback{
    position: fixed;
    right: 0;
    bottom: 0;
    background: white;
    top: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.feedbackBtn{
    position: fixed;
    right: 30px;
    bottom: 30px;
}