.table.table-param{
    thead th {
        color: #4c4c52;
        border-bottom-width: 0px;
        border-top-width: 0px;
        font-weight: 700;
    }
    .deleteCol{
        text-align: center;
        svg {
            color: #D32F2F;
        }
    }
} 